@model List<MenuViewModel>

<div class="sidebar-menu">
    <ul class="nav flex-column">
        @foreach (var menuItem in Model)
        {
            @if (menuItem.IsSectionHeader)
            {
                <li class="nav-item">
                    <a href="#section-@menuItem.Id" 
                       class="nav-link section-header collapsible-menu-item @(menuItem.IsCurrentPage ? "active" : "")" 
                       data-bs-toggle="collapse" 
                       aria-expanded="@(menuItem.IsExpanded ? "true" : "false")">
                        @if (!string.IsNullOrEmpty(menuItem.Icon))
                        {
                            <i class="@menuItem.Icon menu-icon"></i>
                        }
                        <span class="section-text">@menuItem.Name</span>
                        <i class="fas fa-chevron-down ms-auto menu-arrow"></i>
                    </a>
                    
                    <div class="collapse @(menuItem.IsExpanded ? "show" : "")" id="section-@menuItem.Id">
                        <ul class="nav flex-column section-submenu">
                            @if (menuItem.HasChildren)
                            {
                                @await Html.PartialAsync("_CollapsibleMenuItems", menuItem.Children)
                            }
                        </ul>
                    </div>
                </li>
            }
            else
            {
                @if (menuItem.HasChildren)
                {
                    <li class="nav-item">
                        <a href="#@menuItem.ChildrenHtmlId" 
                           class="nav-link collapsible-menu-item @(menuItem.IsCurrentPage ? "active" : "")" 
                           data-bs-toggle="collapse" 
                           aria-expanded="@(menuItem.IsExpanded ? "true" : "false")">
                            @if (!string.IsNullOrEmpty(menuItem.Icon))
                            {
                                <i class="@menuItem.Icon menu-icon"></i>
                            }
                            <span class="menu-text">@menuItem.Name</span>
                            <i class="fas fa-chevron-down ms-auto menu-arrow"></i>
                        </a>
                        <div class="collapse @(menuItem.IsExpanded ? "show" : "")" id="@menuItem.ChildrenHtmlId">
                            <ul class="nav flex-column submenu">
                                @await Html.PartialAsync("_CollapsibleMenuItems", menuItem.Children)
                            </ul>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="@menuItem.GetUrl()" class="nav-link @(menuItem.IsCurrentPage ? "active" : "")">
                            @if (!string.IsNullOrEmpty(menuItem.Icon))
                            {
                                <i class="@menuItem.Icon menu-icon"></i>
                            }
                            <span class="menu-text">@menuItem.Name</span>
                        </a>
                    </li>
                }
            }
        }
    </ul>
</div>